<?xml version="1.0" encoding="utf-8"?>
<Config>
  <NUM_tracklength>200</NUM_tracklength>
  <guid>477e9bf2-9fbb-40b2-bf5b-107100f9c213</guid>
  <terminaltheming>True</terminaltheming>
  <plane_guid>ece70e44-52d0-45f6-94a9-414a189c93bf</plane_guid>
  <copter_guid>9acd22ae-fe94-4bc0-ba80-f870c927aef3</copter_guid>
  <rover_guid>5d74c0cb-3f86-48e2-9fc7-f00cd6a5ce6f</rover_guid>
  <Tuning_Graph_Selected>esc7_volt (Min: 2248 Max: 2248 Mean: 2248)|esc8_curr (Min: 0 Max: 0 Mean: 0)|esc8_rpm (Min: 3823 Max: 4320 Mean: 4030)|esc8_temp (Min: 28 Max: 28 Mean: 28)|esc8_volt (Min: 2292 Max: 2292 Mean: 2292)|esc7_temp (Min: 28 Max: 28 Mean: 28)|esc7_rpm (Min: 8863 Max: 8863 Mean: 8863)|esc7_curr|</Tuning_Graph_Selected>
  <MapType>GoogleSatelliteMap</MapType>
  <comport>COM4</comport>
  <AUTO_BAUD>9600</AUTO_BAUD>
  <APMFirmware>ArduCopter2</APMFirmware>
  <menu_autohide>false</menu_autohide>
  <kindexdate>10/12/2018</kindexdate>
  <fw_check>10/12/2018</fw_check>
  <kindex>1</kindex>
  <AACheck2>True</AACheck2>
  <newuser>9/12/2018</newuser>
  <maplast_lat>-39.2632399432972</maplast_lat>
  <maplast_lng>-19.16015625</maplast_lng>
  <maplast_zoom>3</maplast_zoom>
  <COM5_BAUD>115200</COM5_BAUD>
  <MainHeight>950</MainHeight>
  <MainWidth>1404</MainWidth>
  <MainMaximised>Normal</MainMaximised>
  <MainLocX>635</MainLocX>
  <MainLocY>15</MainLocY>
  <FlightSplitter>375</FlightSplitter>
  <rawparam_Command_width>126</rawparam_Command_width>
  <rawparam_Value_width>69</rawparam_Value_width>
  <rawparam_Units_width>56</rawparam_Units_width>
  <rawparam_Options_width>175</rawparam_Options_width>
  <rawparam_Desc_width>773</rawparam_Desc_width>
  <rawparam_Fav_width>50</rawparam_Fav_width>
  <TXT_homelat />
  <TXT_homelng />
  <TXT_homealt />
  <TXT_WPRad>2</TXT_WPRad>
  <TXT_loiterrad>45</TXT_loiterrad>
  <TXT_DefaultAlt>100</TXT_DefaultAlt>
  <CMB_altmode>Relative</CMB_altmode>
  <fpminaltwarning>0</fpminaltwarning>
  <fpcoordmouse>GEO</fpcoordmouse>
  <displayview>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;DisplayView xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
  &lt;displayName&gt;Advanced&lt;/displayName&gt;
  &lt;displaySimulation&gt;true&lt;/displaySimulation&gt;
  &lt;displayTerminal&gt;true&lt;/displayTerminal&gt;
  &lt;displayDonate&gt;true&lt;/displayDonate&gt;
  &lt;displayHelp&gt;true&lt;/displayHelp&gt;
  &lt;displayAnenometer&gt;true&lt;/displayAnenometer&gt;
  &lt;displayQuickTab&gt;true&lt;/displayQuickTab&gt;
  &lt;displayPreFlightTab&gt;true&lt;/displayPreFlightTab&gt;
  &lt;displayAdvActionsTab&gt;true&lt;/displayAdvActionsTab&gt;
  &lt;displaySimpleActionsTab&gt;false&lt;/displaySimpleActionsTab&gt;
  &lt;displayGaugesTab&gt;true&lt;/displayGaugesTab&gt;
  &lt;displayStatusTab&gt;true&lt;/displayStatusTab&gt;
  &lt;displayServoTab&gt;true&lt;/displayServoTab&gt;
  &lt;displayScriptsTab&gt;true&lt;/displayScriptsTab&gt;
  &lt;displayTelemetryTab&gt;true&lt;/displayTelemetryTab&gt;
  &lt;displayDataflashTab&gt;true&lt;/displayDataflashTab&gt;
  &lt;displayMessagesTab&gt;true&lt;/displayMessagesTab&gt;
  &lt;displayRallyPointsMenu&gt;true&lt;/displayRallyPointsMenu&gt;
  &lt;displayGeoFenceMenu&gt;true&lt;/displayGeoFenceMenu&gt;
  &lt;displaySplineCircleAutoWp&gt;true&lt;/displaySplineCircleAutoWp&gt;
  &lt;displayTextAutoWp&gt;true&lt;/displayTextAutoWp&gt;
  &lt;displayCircleSurveyAutoWp&gt;true&lt;/displayCircleSurveyAutoWp&gt;
  &lt;displayPoiMenu&gt;true&lt;/displayPoiMenu&gt;
  &lt;displayTrackerHomeMenu&gt;true&lt;/displayTrackerHomeMenu&gt;
  &lt;displayCheckHeightBox&gt;true&lt;/displayCheckHeightBox&gt;
  &lt;displayPluginAutoWp&gt;true&lt;/displayPluginAutoWp&gt;
  &lt;displayInstallFirmware&gt;true&lt;/displayInstallFirmware&gt;
  &lt;displayWizard&gt;true&lt;/displayWizard&gt;
  &lt;displayFrameType&gt;true&lt;/displayFrameType&gt;
  &lt;displayAccelCalibration&gt;true&lt;/displayAccelCalibration&gt;
  &lt;displayCompassConfiguration&gt;true&lt;/displayCompassConfiguration&gt;
  &lt;displayRadioCalibration&gt;true&lt;/displayRadioCalibration&gt;
  &lt;displayEscCalibration&gt;true&lt;/displayEscCalibration&gt;
  &lt;displayFlightModes&gt;true&lt;/displayFlightModes&gt;
  &lt;displayFailSafe&gt;true&lt;/displayFailSafe&gt;
  &lt;displaySikRadio&gt;true&lt;/displaySikRadio&gt;
  &lt;displayBattMonitor&gt;true&lt;/displayBattMonitor&gt;
  &lt;displayCAN&gt;true&lt;/displayCAN&gt;
  &lt;displayCompassMotorCalib&gt;true&lt;/displayCompassMotorCalib&gt;
  &lt;displayRangeFinder&gt;true&lt;/displayRangeFinder&gt;
  &lt;displayAirSpeed&gt;true&lt;/displayAirSpeed&gt;
  &lt;displayPx4Flow&gt;true&lt;/displayPx4Flow&gt;
  &lt;displayOpticalFlow&gt;true&lt;/displayOpticalFlow&gt;
  &lt;displayOsd&gt;true&lt;/displayOsd&gt;
  &lt;displayCameraGimbal&gt;true&lt;/displayCameraGimbal&gt;
  &lt;displayMotorTest&gt;true&lt;/displayMotorTest&gt;
  &lt;displayBluetooth&gt;true&lt;/displayBluetooth&gt;
  &lt;displayParachute&gt;true&lt;/displayParachute&gt;
  &lt;displayEsp&gt;true&lt;/displayEsp&gt;
  &lt;displayAntennaTracker&gt;true&lt;/displayAntennaTracker&gt;
  &lt;displayBasicTuning&gt;true&lt;/displayBasicTuning&gt;
  &lt;displayExtendedTuning&gt;true&lt;/displayExtendedTuning&gt;
  &lt;displayStandardParams&gt;true&lt;/displayStandardParams&gt;
  &lt;displayAdvancedParams&gt;true&lt;/displayAdvancedParams&gt;
  &lt;displayFullParamList&gt;true&lt;/displayFullParamList&gt;
  &lt;displayFullParamTree&gt;true&lt;/displayFullParamTree&gt;
  &lt;displayParamCommitButton&gt;false&lt;/displayParamCommitButton&gt;
  &lt;displayBaudCMB&gt;true&lt;/displayBaudCMB&gt;
  &lt;displaySerialPortCMB&gt;true&lt;/displaySerialPortCMB&gt;
  &lt;standardFlightModesOnly&gt;false&lt;/standardFlightModesOnly&gt;
  &lt;autoHideMenuForce&gt;false&lt;/autoHideMenuForce&gt;
  &lt;isAdvancedMode&gt;true&lt;/isAdvancedMode&gt;
&lt;/DisplayView&gt;</displayview>
  <logdirectory>C:\Users\KDE DIRECT (SUPPORT)\Desktop\MissionPlannerPortable\UserData\logs</logdirectory>
  <rawtree_Command_percent>5</rawtree_Command_percent>
  <rawtree_Value_percent>5</rawtree_Value_percent>
  <rawtree_Unit_percent>5</rawtree_Unit_percent>
  <rawtree_Range_percent>8</rawtree_Range_percent>
  <rawtree_Description_percent>73</rawtree_Description_percent>
  <COM12_BAUD>57600</COM12_BAUD>
  <COM4_BAUD>115200</COM4_BAUD>
  <CHK_autopan>False</CHK_autopan>
</Config>